TAU-Robot/bin/
TAU-Robot/build/
TAU-Robot/lib/
TAU-Robot/include/boost/
TAU-Robot/readme/
TAU-Robot.sdf
TAU-Robot.opensdf
TAU-Robot.v12.suo
TAU-Robot/so/

TAU-Robot/src/houses/001.house
TAU-Robot/src/houses/002.house
TAU-Robot/src/houses/003.house
TAU-Robot/src/houses/004.house
TAU-Robot/src/houses/005.house
TAU-Robot/src/houses/006.house
TAU-Robot/src/houses/007.house
TAU-Robot/src/houses/008.house
TAU-Robot/src/houses/009.house
TAU-Robot/src/houses/010.house
